<div class="single-banner-section mt-100 overflow-hidden">
  <div class="position-relative overlay">
    <img class="single-banner-img" src="assets/img/banner/single-banner-2.jpg" alt="slide-1">

    <div class="content-absolute content-slide">
      <div class="container height-inherit d-flex align-items-center justify-content-center">
        <div class="content-box single-banner-content py-4 text-center" data-aos="fade-up"
             data-aos-duration="700">
          <h2 class="single-banner-heading heading_42 text-white animate__animated animate__fadeInUp"
              data-animation="animate__animated animate__fadeInUp" data-aos="fade-up"
              data-aos-duration="700">
            Created Furniture
          </h2>
          <p class="single-banner-text text_16 text-white animate__animated animate__fadeInUp"
             data-animation="animate__animated animate__fadeInUp" data-aos="fade-up"
             data-aos-duration="700">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus.
          </p>
          <a class="btn-primary single-banner-btn animate__animated animate__fadeInUp"
             href="collection-left-sidebar.html"
             data-animation="animate__animated animate__fadeInUp" data-aos="fade-up"
             data-aos-duration="700">
            DISCOVER NOW
          </a>
        </div>
      </div>
    </div>
  </div>
</div>